<br><br>
<div class="pull-right">
  <% if can? :delete, @content %>
   <%= link_to 'Delete', page_content_url(@content), confirm: "Are you sure you want to delete this revision?", method: :delete, class: 'btn btn-mini btn-danger' %> |
  <% end %>
  <%= link_to 'Home', pages_url %>
</div>

<h2><%= @page.title %></h2>
<hr>

<%= Page.textile2html(@content.body) %>