<h3>Wiki Pages</h3>

<%= paginate @pages %>
<% @pages.each do |page| %>
  <%= link_to page.title, page_url(page) %><br />
<% end %>

<% if can? :create, @page  %>
  <br><br>
  <%= link_to 'New wiki page', new_page_url, class: 'btn btn-small btn-info' %>
<% end %>