<br><br>
<div class="pull-right">
	<%= link_to 'Delete', page_url(@page), confirm: "Are you sure you want to delete this page?", method: :delete, class: 'btn btn-mini btn-danger' %> |
	<%= link_to 'Home', pages_url, class: 'btn btn-mini' %>
</div>

<h3><%= @page.title %></h3>
<hr>

<%= textilize(@page.current_body).html_safe %>

